# Database
DATABASE_URL="postgresql://user:password@localhost:5432/pos_saas"

# Auth.js
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Site
SITE_URL="http://localhost:3000"
